.header {
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	color: hsl(240, 80%, 68%);
	margin: 0;
}

.logo span {
	color: #d4d4e0;
	margin-left: 1px;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
}

.header li {
	margin: 0 0 0 2rem;
}

.header a {
	text-decoration: none;
}

.link {
	color: #d4d4e0;
	transition: all 0.2s;
}

.link:hover {
	color: hsl(240, 80%, 79%);
}
