.title {
	margin-top: 4rem;
}

.container,
.deleteContainer {
	margin: 9rem auto 5rem;
	width: 100%;
	max-width: 30rem;
	border-radius: 6px;
	background-color: var(--color-bg-med);
	text-align: center;
	overflow: hidden;
	padding: 1.4rem;
}

.deleteContainer {
	margin-top: 5rem;
}

.input {
	background-color: var(--color-bg-input);
	font-family: inherit;
	font-size: inherit;
	border: none;
	outline: none;
	border-radius: 4px;
	padding: 8px 16px;
	color: inherit;
	width: 100%;
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	font-weight: bold;
	margin-top: 1.8rem;
	margin-bottom: 0.8rem;
	display: block;
}
