@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Open+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-bg: hsl(240, 7%, 12%);
	--color-bg-med: hsl(240, 4%, 15%);
	--color-bg-light: hsl(240, 4%, 18%);
	--color-bg-input: hsl(240, 6%, 22%);
	--color-button: hsl(240, 25%, 46%);
	--color-button-cta: hsl(240, 80%, 68%);
	--color: hsl(240, 25%, 46%);
	--color-button-hover: hsl(240, 80%, 79%);
	--color-link: hsl(240, 16%, 85%);
	--color-warn-bg: hsl(0, 54%, 56%);
	--color-warn-text: hsl(0, 54%, 66%);
}
body {
	font-family: 'Open Sans', 'Lato', sans-serif;
	margin: 0;
	background-color: var(--color-bg);
	color: #eaeaee;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	color: white;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.button {
	border: 1px solid var(--color-button);
	background-color: var(--color-button);
	color: hsl(240, 20%, 96%);
	text-decoration: none;
	width: 100%;
	text-align: center;
	display: block;
	padding: 0.6rem;
	margin-top: 1.4rem;
	transition: all 0.2s;
	border-radius: 4px;
	outline: none;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
}

.button:hover {
	background-color: var(--color-button-cta);
	color: white;
}

.button.warn {
	border: 1px solid var(--color-warn-bg);
	background-color: transparent;
	color: var(--color-warn-text);
}

.button.warn:hover {
	background-color: var(--color-warn-bg);
	color: white;
}

.button.secondary {
	font: inherit;
	background-color: transparent;
	border: 1px solid var(--color-button-hover);
	color: var(--color-button-hover);
	padding: 0.5rem 1.5rem;
	border-radius: 6px;
	cursor: pointer;
}

.button.secondary:hover {
	border-color: var(--color-button-cta);
	background-color: var(--color-button-cta);
	color: white;
}

.message {
	position: absolute;
	top: 8rem;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	color: var(--color-button-hover);
}

.message.mt {
	top: 15rem;
}
